$color_main_1: #86c1ea;
$color_blue: #002157;
$color_main_2: #2a80b9;
$color_text_btn_main: #dd0000;
$color_text_btn_white: #fff;
$color_text_btn_colorized: #1b7fd0;
$color_bg_btn_hover: #caddea;
$color_text_grey: #4e4e4e;
$color_block_grey: #ccd3dd;
$color_orange: #e84c3d;