.color1{
    background-color: brown;
    height: 200px;
}

.color2{
    background-color: red;
    height: 200px;
}

.color3{
    background-color: green;
    height: 200px;
}

.color4{
    background-color: yellow;
    height: 200px;
}